.main{
     background: rgb(2,0,36);
background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(16,16,179,1) 0%, rgba(98,160,249,1) 50%, rgba(118,220,252,1) 100%, rgba(0,212,255,1) 100%); 
    padding-top: 70px;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-weight: 600;
    font-size: large;
}
.str1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    background-color: transparent;
}
.str2{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding-top: 50px;
    background-color: white;
}
.str4{
    border-top-left-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.str3{
    display: flex;
    flex-direction:column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding-top: 50px;
}
.rectangle{
    width: 120px;
height: 10px;
background-color: blueviolet;
}
h2{
    font-size: 50px;
}
.onas_container{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.op_container{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.person{
    display: flex;
    flex-direction: column;
    align-items: center;
width: 25%;
margin: 10px;
}

.person img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.str1 img{
    width: 100%;
    height: auto;
}
.person div{
    box-shadow: 0.0px 0.0px 15.0px rgba(168, 168, 168, 0.64);
    padding: 20px;
    margin-top: 50px;
}
.op_container span{
font-size: large;
}
.radio{
    display: none;
}
.slider_container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slider{
    margin: 10px;
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
}
.slide{
    display: none;
    color: black;
}
.dots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}
.dots div{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dots label{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.dots label:hover{
    opacity: 0.7;

}
.dots label::before {
    position:absolute;
    content: '';
    height: 100%;
    border-left: 2px solid white;
  }
#radio_1:checked ~ #slide_1,
#radio_2:checked ~ #slide_2,
#radio_3:checked ~ #slide_3,
#radio_4:checked ~ #slide_4,
#radio_5:checked ~ #slide_5,
#radio_6:checked ~ #slide_6,
#radio_7:checked ~ #slide_7
{
    display: flex;
}
#radio_1:checked ~ #slide_0,
#radio_2:checked ~ #slide_0,
#radio_3:checked ~ #slide_0,
#radio_4:checked ~ #slide_0,
#radio_5:checked ~ #slide_0,
#radio_6:checked ~ #slide_0,
#radio_7:checked ~ #slide_0
{
    display: none;
    
}
